.navBar {
    background-color: rgb(47, 47, 220);
    height:auto;
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}

#nav_item {
    color: black;
    text-decoration: none;
}

.logo {
    height: 120px;
    width: 250px;
    padding-left: 20px;
    padding-top: 10px;
}

#register-btn {
   background-color: orange; 
}

p {
background-color: blueviolet;
}

.logForm {
    padding:15px;
    margin-bottom: 10%;
    box-shadow:4px 4px 4px 4px; 
    width: 55%; 
    background-color: orange;
    margin-top: 4%;
    flex: 20%;
}

#new_user_form{
    padding:10px;
    margin-bottom: 10%;
    box-shadow:4px 4px 4px 4px; 
    width: 40%; 
    background-color: green;
    border-radius: 5%;
    margin-top: 3%;
}

.shark-image {
    height: 300px;
    width: 300px;
 }
 
 #shark-list {
    display: flex;
    flex-wrap: wrap;
 }
 
 #welcome-box {
    display: flex;
    justify-content: center;
 }

 #welcome_shark {
    background-color: white;
 }

 #welcome_pic {
    justify-content: center; 
 }

 #login-box1 {
    display:flex;
    justify-content: center;
 }
#cart_box {
    background-color: white;
}