{% extends 'base.html' %}

{% block body %}
<div id="shark-list">
    {% for shark in all_sharks %}
       <div class="card text-center">
         <a href="/add_to_cart/{{shark.shark_id}}"><img class="shark-image" src="{{ shark.image_url }}" width="500" height="600"></a>
          
          <h5>
             {{ shark.shark_name }}
          </a>
          </h5>
          {{ shark.price }}
          {{ shark.length }}
          {{ shark.weight }}
          {{ shark.diet }}
       </div>
    {% endfor %}
    </div>
{% endblock %}